body {
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(rgb(50, 67, 50));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  width: 300px;
  margin: 40px auto;
  background: rgb(168, 225, 181);
  padding: 30px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
}
h2 {
  text-align: center;
  color: #0e3701;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ebe2e2;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: #000;
}
button {
  padding: 10px;
  background-color: #2c451f;
  color: rgb(244, 240, 240);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #042e03;
}
.student-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.student-name {
  font-weight: bold;
}
.student-actions button {
  margin-left: 5px;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
.student-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.student-card {
  background: #d7f3df;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #333;
}

.student-buttons button {
  margin-left: 8px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
}

.edit-btn {
  background-color: #37819f;
}

.delete-btn {
  background-color: #ec6c60;
}
