body {
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle, rgb(50, 67, 50), rgb(20, 30, 20));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  margin: 40px auto;
  background: rgb(168, 225, 181);
  padding: 30px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
}
